.clearable {
    position: relative;
    display: inline-block;
}

.clearable input[type="text"] {
    padding-right: 24px;
}

.clearable__clear {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
}
